<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout"
	 layout:decorator = "LayoutPadrao">

<head>

	<meta charset="UTF-8"/>
		<title>Pesquisar de título</title>
		
      
</head>

 <section layout:fragment="conteudo" >
 
<div class="panel panel-default">
	<div class="panel-heading">
	  <div class = "clearfix">
		<h1 class="panel-title aw-titulo-panel">Pesquisa de título</h1>
		<a class = "btn btn-link aw-link-panel" href = "/titulos/novo"> Novo titulo</a>
		</div>
	</div>

	<div class="panel-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center col-md-1">Código</th>
					<th class="text-center ">Descrição</th>
					<th class="text-center col-md-2">Data de vencimento</th>
					<th class="text-center col-md-2">Valor</th>
					<th class="text-center col-md-2">Status</th>
					<th class="text-center col-md-1">Editar</th>
 				</tr>
			</thead>
			<tbody>
			<tr  th:each = "titulo:${titulos}">
			  <td class="text-center " th:text="${titulo.codigo}" >1</td>
			  <td class="text-center " th:text="${titulo.descricao}" ></td>
			  <td class="text-center " th:text="${{titulo.dataVencimento}}" ></td>
			  <td class="text-center " th:text="|R$: ${{titulo.valor}}|" ></td>
			  <td class="text-center " >
			   <span class ="label" th:text="${titulo.status.descricao}"
			    th:classappend = "${titulo.pendente ? 'label-danger' :'label-success'}"></span>
			    <!-- de acordo com o status ele mostra muda a cor -->
			  </td>
			  <td class ="tex-center"><!-- O @ serve para monta link  codigo é uma variavel o primeiro,@ uma url dimanica -->
			    <a class = "btn btn-link btn-xs" th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}">
			     <span class="glyphicon glyphicon-pencil"></span>
			    </a>
			   <a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal">
			    <span class="glyphicon glyphicon-remove"></span>
			    </a>
			    
			  </td>
			</tr>
				<tr>
					<td colspan="6" th:if="${#lists.isEmpty(titulos)}" >Nem um titulo encontrado</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal fade" id="confirmacaoExclusaoModal" tabindex="-1" data-keyboord ="false" data-barckdrop = "static">
	  <div class="modal-dialog">
	  
	<form action="/titulos" method="post">
	<input type="hidden" name="_method" value="DELETE"/>
	
	    <div class="modal-content">
	     <div class="modal-header">
	       <h4 class="modal-title">voce tem certeza?</h4>
	    </div>
	    
	    <div class="modal-bady">
	    <span> Tem ceteza que deseja apagar o titulo?</span>
	    </div>
	    <div class="modal-footer">
	     <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
	      <button type="submit" class="btn btn-primary">Excluir</button>
	    </div>
	  </div>
	  </form>
	</div>
</div>
 </div>
 </section>
</html>